html, body {margin:0;padding:0;scroll-behavior: smooth;}
body{ font-family: 'Montserrat', sans-serif;}

header {position: fixed;left: 0;right: 0;z-index: 99;background: #fff;padding: 5px 0;box-shadow: -1px -7px 17px 5px rgb(0 0 0 / 5%);}
header img {max-width:120px !important;}

header .navbar-light .navbar-nav .nav-link {font-size: 15px;color: #00dfb9;font-weight: 500;transition:.6s;}
header .navbar-light .navbar-nav .nav-link:hover {transition:.6s;color: #6F30EE;}

.seccion-01 {padding-top:110px;}
.seccion-01 h3 {margin: 0 0 125px;font-size: 47px;line-height: 1.1;color: #6f2cf2;font-weight: 300;}
.seccion-01 h3 strong {color: #6f2cf2;font-weight: bold;}
.seccion-01 .absolute-detalle {position: absolute;left: -30px;top: 10px;max-width: 40px;}

.seccion-02 {margin-top:-125px;background:url('../img/back_sect_02.png');padding:115px 0;background-color: #6F30EE;background-size: 60%;background-repeat: no-repeat;background-position: -15% -90px;}
.seccion-02 h4 {color: #fff;font-size: 33px;line-height: normal;font-weight: 300;}
.seccion-02 p {color: #fff;font-size: 15px;line-height: normal;margin: 20px 0 0;}
.seccion-02 h4 strong {font-weight:bold;color: #fff;}
.seccion-02 .btns-ir {transition:.6s;border:2px transparent solid;display: inline-block;padding: 13px 35px;background: #00dfb9;color: #6f2cf2;margin: 25px 0 0;border-radius: 5px;font-weight: 700;}
.seccion-02 .btns-ir:hover {border:2px #00dfb9 solid;background:#6f2cf2;color: #00dfb9;transition:.6s;text-decoration:none;}
.seccion-02 img {max-width: 240px;}

.seccion-03 {padding:75px 0 125px;}
.seccion-03 h3 {color: #00dfb9;margin:0 0 40px;font-weight: 700;font-size: 33px;}
.seccion-03 h3 img {max-width: 35px;margin-right: 5px;}
.seccion-03 .icon- {max-width: 140px;}
.seccion-03 h4 {margin:30px 0 0 ;color: #6f2cf2;font-size: 14px;font-weight: 600;}
.seccion-03 p {margin: 20px 0 0;font-size: 14px;color: #000;font-weight: 300;line-height: normal;}

.seccion-04 {background:#00dfb9;padding:0px;position:relative;}
.seccion-04 h3 {color: #fff;font-size: 54px;margin: 0;font-weight: 300;line-height: 1;}
.seccion-04 h3 strong {color: #fff;font-weight: bold;}
.seccion-04 p {margin: 20px 0 30px;color: #ffff;font-size: 16px;line-height: normal;font-weight: 600;}
.seccion-04 .icons-comp {max-width: 200px;}
.seccion-04 .btns-ir {transition: .6s;border: 2px transparent solid;display: inline-block;padding: 10px 35px;background: #6f2cf2;color: #fff;margin: 0 30px;border-radius: 5px;font-weight: 700;font-size: 13px;}
.seccion-04 .btns-ir:hover {border:2px #6f2cf2 solid;background:#00dfb9;color: #6f2cf2;transition:.6s;text-decoration:none;}
.seccion-04 .tel-mano {margin-top:-85px;}
.seccion-04 .absolute-detalle {position: absolute;top: 0;left: 0;right: 0;}
.seccion-04 .absolute-detalle img {max-width: 300px;}

.seccion-05 {background-color: #f8f8f9;padding:65px 0px 0;}
.seccion-05 .comillas-absolute {position: absolute;left: -40px;top: -20px;max-width: 215px;}
.seccion-05 h4 {color: #6f2cf2;font-size: 55px;font-weight: 300;text-align: right;position:relative;z-index:1;}
.seccion-05 h4 strong {color: #6f2cf2;font-weight: bold;}
.seccion-05 h4 img {max-width:30px;}
.content-logo-desc {margin-top:70px;}
.content-logo-desc img {max-width: 80px;margin: 0 45px;}
.content-logo-desc h5 {text-align: center;font-size: 15px;margin: 0;color: #6f2cf2;}
.content-logo-desc h5 strong {font-size: 26px;color: #6f2cf2;}

.seccion-06 {padding:100px 0;}
.seccion-06 h3 {font-weight: 600;color: #00dfb9;font-size: 60px;}
.seccion-06 p {margin: 10px 0 40px;color: #565656;font-weight: 300;font-size: 16px;}
.seccion-06 .btns-ir {transition: .6s;border: 2px transparent solid;display: inline-block;padding: 10px 35px;background: #6f2cf2;color: #fff;margin: 0 30px;border-radius: 5px;font-weight: 600;font-size: 13px;}
.seccion-06 .btns-ir:hover {border:2px #6f2cf2 solid;background:#fff;color: #6f2cf2;transition:.6s;text-decoration:none;}

.seccion-07 {background:#6f2cf2;padding:100px 0;}
.seccion-07 h3 {color: #fff;font-weight: 600;font-size: 32px;margin: 0 0 30px;}
.seccion-07 form input, .seccion-07 form textarea {width: 100%;color: #fff;border: 2px #fff solid;background: none;padding: 7px 15px;font-size: 16px;border-radius: 5px;margin: 0 0 15px;}
.seccion-07 form textarea {min-height:150px;}
.seccion-07 form input[type="submit"] {padding:10px 0;background:#00dfb9;transition:.6s;border-color: #00dfb9;text-transform:uppercase;font-weight:600;}
.seccion-07 form input[type="submit"]:hover {background:#fff;color: #6f2cf2;transition:.6s;border-color:#fff;}

::-webkit-input-placeholder { /* Edge */
  color:#fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#fff;
}

::placeholder {
  color:#fff;
}

footer {padding: 50px 0;border-bottom: 20px #00dfb9 solid;}
footer img {max-width:170px;}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width:996px) {
  

}	
@media screen and (max-width:767px) {
    
  .seccion-01 h3 {margin: 0 0 25px;font-size: 35px;}
  .seccion-02 {margin-top: -55px;padding: 65px 0;}
  .seccion-02 img {max-width: 160px;margin-bottom: 30px;}
  .seccion-02 h4 {font-size:28px;}

  .seccion-03 h3 {font-size:26px;}
  .seccion-03 .icon- {max-width:110px;}
  .seccion-03 p {margin: 15px 0 25px;}

  .seccion-04 .container .row {flex-direction:column-reverse;}
  .seccion-04 h3 {font-size:35px;}
  .seccion-04 .absolute-detalle img {max-width:210px;}
  .seccion-04 .btns-ir {margin: 30px 0 0;}
  .seccion-04 .tel-mano {margin-top:30px;}
  .seccion-04 {padding:60px 0 0;}

  .seccion-05 h4 {font-size: 32px;}
  .seccion-05 .comillas-absolute {max-width:115px;}

  .content-logo-desc {flex-wrap:wrap;}
  .content-logo-desc img {margin: 0 0 10px auto;}
  .content-logo-desc h5 {margin: 0 0 25px;}

  .seccion-06 h3 {font-size:39px;}

}							